{% extends "layouts/front-end/base.njk" %}

{% block title %}Lieux de vie – BUT MMI{% endblock %}

{% block content %}
  <main class="max-w-6xl mx-auto py-12 space-y-8">
    <h1 class="text-3xl font-bold">Lieux de vie</h1>

    <p>Bienvenue sur la page des lieux de vie.</p>

  </main>
{% endblock %}